.header {
    height: 5rem;
}

.title {
    flex-grow: 1;
    text-align: left;
    color: black;

    @media (max-width : 600px) {
        font-size: 2rem !important;
        font-weight: bold;
    }
}

.flight-logo {
    transform: rotate(45deg);
}

@media (prefers-reduced-motion: no-preference) {
  .flight-logo {
    animation: flight-logo-spin infinite 30s linear;
  }
}

@keyframes flight-logo-spin {
    from {
        transform: rotate(45deg);
    }
    to {
        transform: rotate(90deg);
    }
}