.flight-status {
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
}

.on-time-status {
    border-color: green;
    color: green;
    background-color: rgb(220, 250, 220);
}

.boarding-status {
    color: #0080ff;
    background-color: #cceefa;
    border-color: #0080ff;
}

.delayed-status {
    border-color: red;
    color: red;
    background-color: rgb(243, 212, 199);
}

.departed-status {
    color: darkorange;
    background-color: #f5eada;
    border-color: darkorange;
}