.flight-status {
    font-size: larger !important;
    font-weight: 500 !important;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
}

.on-time-status {
    border-color: green;
    color: green;
    background-color: rgb(208, 249, 208);
}

.boarding-status {
    border-color: orangered;
    color: orangered;
    background-color: rgb(251, 230, 190);
}

.delayed-status {
    border-color: orangered;
    color: orangered;
    background-color: rgb(249, 199, 181);
}

.departed-status {
    border-color: red;
    color: red;
    background-color: rgb(250, 219, 219);
}